<section>
  <div class="container">
    <div class="text-dark mt-3 cabecalho">
      <h3 class="pb-3 pt-3 text-center text-white text-uppercase">
        Acompanhamentos
      </h3>
    </div>

    <form [formGroup]="formFiltro" class="mb-3">
      <div class="row g-3 justify-content-center align-items-end filtro-wrapper">

        <!-- Nome do evento -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <input type="text" class="form-control form-control-lg shadow-sm"
            placeholder="🔍 Pesquisar por nome do evento" formControlName="evento" (keyup)="filtrarEventos()" />
        </div>

        <!-- SEXEC -->
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
          <select class="form-select form-select-lg shadow-sm" formControlName="sexec" (change)="filtrarEventos()">
            <option value="">Secretaria Executiva</option>
            <!-- <option *ngFor="let sexec of lista_sexec" [value]="sexec.id">
              {{ sexec.secretaria }} / {{ sexec.sigla }}
            </option> -->
            <option *ngFor=" let sexec of lista_sexec" [value]=sexec.id> {{ sexec.secretaria }} / {{ sexec.sigla }} </option>
          </select>
        </div>

        <!-- Status -->
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
          <select class="form-select form-select-lg shadow-sm" formControlName="status" (change)="filtrarEventos()">
            <option value="">Status do Evento</option>
            <option *ngFor=" let status of lista_status" [value]=status> {{ status }} </option>
          </select>
        </div>

        <!-- Ano -->
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
          <select class="form-select form-select-lg shadow-sm" formControlName="ano" (change)="filtrarEventos()">
            <option value="">Ano</option>
            <option *ngFor="let year of lista_ano" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>

        <!-- Botões -->
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
          <div class="d-flex gap-2">
            <button type="button" class="btn btn-success btn-lg w-100" (click)="limparFiltros()">
              Exibir todos
            </button>

            <!-- <button type="button" class="btn btn-warning btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modalTabelaEventoAcompanhamento">Evento Completo</button> -->


            <div class="btn-group w-100">
              <button type="button" class="btn btn-outline-primary btn-lg dropdown-toggle w-100"
                data-bs-toggle="dropdown" [disabled]="profile_id === 2 || profile_id === 4">
                Exportar
              </button>

              <ul class="dropdown-menu w-100">
                <li>
                  <button class="dropdown-item" (click)="getReportEvent('todos')">
                    Eventos e Acompanhamentos
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" [disabled]="!filtroEventos" (click)="getReportEvent('filtrados')">
                    Acompanhamentos filtrados
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </form>


    <table class="table table-striped table-hover" id="table-follow">
      <thead>
        <tr>
          <th scope="col" class="align-middle text-center">Ano do Evento</th>
          <th scope="col" class="align-middle text-center">Nome Evento</th>
          <th scope="col" class="align-middle text-center">Executiva Responsável</th>
          <th scope="col" class="align-middle text-center">Situação Atual</th>
          <th scope="col" class="align-middle text-center">Resultado Alcançado</th>
          <th scope="col" class="align-middle text-center">Custos Realizados</th>
          <th scope="col" class="align-middle text-center">Leads Realizados</th>
          <th scope="col" colspan="2" class="align-middle text-center">Imagens</th>
          <th scope="col" class="align-middle text-center">Editar</th>
          <th scope="col" class="align-middle text-center">Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let follow of lista_follow_filtered | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td class="align-middle text-center">{{ follow.ass_acompanhamento_evento.ano }}</td>
          <td class="align-middle">{{ follow.ass_acompanhamento_evento.nome_evento }}</td>
          <td class="align-middle">{{ follow.ass_acompanhamento_evento.ass_evento_sexec.secretaria }}</td>
          <td class="align-middle">{{ follow.situacao_atual }}</td>
          <td class="align-middle">{{ follow.resultado }}</td>
          <td class="align-middle text-center">R$ {{ follow.custo_realizado }}</td>
          <td class="align-middle text-center">{{ follow.leads_realizados }}</td>
          <td *ngIf="profile_id === 3 || profile_id === 2" class="align-middle"><button title="Inserir Imagens" (click)="onEdit(follow)" type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#modalInsertImg"><i class="bi bi-image"></i></button></td>
          <td *ngIf="profile_id === 3 || profile_id === 2" class="align-middle"><button title="Visualizar evento" (click)="viewImg(follow)" type="button" class="btn btn-success mx-3" data-bs-toggle="modal" data-bs-target="#modalViewImg"><i class="bi bi-eye-fill"></i></button></td>
          <td *ngIf="profile_id === 3 || profile_id === 2" class="align-middle"><button (click)="onEdit(follow)" type="button" class="btn btn-warning mx-3" data-bs-toggle="modal" data-bs-target="#modalEdit"><i class="bi bi-pencil-square"></i></button></td>
          <td *ngIf="profile_id === 3 || profile_id === 2" class="align-middle"><button (click)="deletaFollow(follow)" type="button" class="btn btn-danger mx-3"><i class="bi bi-trash-fill"></i></button></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
  </div>

</section>

<!-- Modal -->
 <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditLabel">Editar Evento {{ showTitle }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "formFollow">
          <div class="row">

            <div class="form-floating col-sm-6 col-12 mb-2">
              <select name="situacao_atual" id="situacao_atual" class="form-select" formControlName="situacao_atual" required>
                <option value="A Iniciar">A Iniciar</option>
                <option value="Andamento">Andamento</option>
                <option value="Cancelado">Cancelado</option>
                <option value="Concluído">Concluído</option>
              </select>
              <label class="form-label pergunta ms-3" for="cargo">Situação Atual</label>
            </div>

            <div class="form-group col-sm-3 col-12 ">
              <div class="form-floating">
                <input type="text" id="custo_realizado" name="custo_realizado"
                  placeholder="Digite o nome do Evento" required formControlName="custo_realizado" class="form-control" />
                <label class="form-label pergunta" for="custo_realizado">Custos Realizados</label>
              </div>
            </div>

            <div class="form-group col-sm-3 col-12 ">
              <div class="form-floating">
                <input type="text" id="leads_realizados" name="leads_realizados"
                  placeholder="Digite o nome do Evento" required formControlName="leads_realizados" class="form-control" />
                <label class="form-label pergunta" for="leads_realizados">Leads Realizados</label>
              </div>
            </div>
          </div>

          <div class="row mt-4 mb-4">

            <div class="form-group col-sm-12 col-12 ">
              <div class="form-floating">
                <textarea class="form-control" id="resultado" rows="5" name="resultado" placeholder="Informe a descrição do evento" style="height: 100px" required minlength="3" formControlName="resultado" class="form-control"></textarea>
                <label class="form-label pergunta" for="resultado">Descrição</label>
                <!-- <div class="limite_caractere alert alert-warning mt-1">Caracteres digitados: <strong>{{ evento.descricao?.length }} / {{ maxChars }}</strong></div>
                <div *ngIf="!descricao.valid &&  descricao.touched" class="alert alert-danger" role="alert">
                  Descrição é obrigatório
                </div> -->
              </div>

              <!-- <div class="form-floating">
                <input type="text" id="resultado" name="resultado"
                  placeholder="Digite o nome do Evento" required formControlName="resultado" class="form-control" />
                <label class="form-label pergunta" for="resultado">Resultado Alcançados</label>
              </div> -->
            </div>


          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateFollow()" class="btn btn-warning">Update</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Inserção de imagens-->
<div class="modal fade" id="modalInsertImg" tabindex="-1" aria-labelledby="modalInsertImgLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalInsertImgLabel">Imagens do Evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-12 col-12 mb-3">
              <label for="formFileMultiple" class="form-label">Adicione imagens do evento.</label>
                  <input #imgsInput class="form-control" type="file" id="formFileMultiple" multiple
                  (change)="selectMultipleFiles($event)" (change)="onImageSelected($event)">
                  <div *ngIf="habilita_anexo_imgs == true" class="alert alert-success" role="alert">
                    {{ imgs_anexo }}
                  </div>
                  <div *ngIf="habilita_anexo_imgs == false" class="alert alert-danger" role="alert">
                    {{ imgs_anexo }}
                  </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="imgsUpload()" class="btn btn-primary" [disabled]="habilita_anexo_imgs" [disabled]="!imageSelected">Inserir Imagens</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Exibição de imagens-->
<div class="modal fade" id="modalViewImg" tabindex="-1" aria-labelledby="modalViewImgLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalViewImgLabel">{{ showTitle }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1">
          <div class="col-12">
            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item carrossel" *ngFor="let image of lista_imagens; let i = index"
                  [ngClass]="{'active': i === 0}">
                    <img [src]="image.imagem" class="d-block w-100 img-fluid" alt="Imagens do evento">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- <div *ngIf="lista_imagens.length == 0" class="alert alert-danger" role="alert">
              {{ showMessage }}
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


