<section>
  <div class="container">
    <div class="text-dark mt-3 cabecalho">
      <h3 class="pb-3 pt-3 text-center text-white text-uppercase">
        Eventos
      </h3>
    </div>

    <div class="row">

      <div class="form-floating col-sm-6 col-12 mt-3 mb-2">
        <select name="sexec_id" id="sexec_id" class="form-select" [(ngModel)]="filtro_resp" #sexec_id (change)="(getEventoByRes(sexec_id.value))">
          <option *ngFor=" let sexec of lista_sexec" [value]=sexec.id> {{ sexec.secretaria }} / {{ sexec.sigla }} </option>
        </select>
        <label class="form-label pergunta ms-3" for="cargo">Responável</label>
      </div>

      <div class="form-floating col-sm-2 col-12 mt-3 mb-2">
        <div class="filter-nav d-flex flex-center">
          <button class="mx-3 mt-1 pt-1 pb-1 btn btn-primary text-uppercase fw-bold" (click)="getEventos()">Lista de Eventos</button>
          <button class="mx-3 btn text-center btn-warning text-uppercase fw-bold" data-bs-toggle="modal" data-bs-target="#modalTabelaEventoAcompanhamento">Evento Completo</button>
          <button class="mx-3 btn text-center btn-success text-uppercase fw-bold" data-bs-toggle="modal" data-bs-target="#modalTabelaEvento">Tabela Evento</button>
          <button class="mx-3 btn text-center btn-info text-uppercase fw-bold" data-bs-toggle="modal" data-bs-target="#modalEventoFiltro">Tabela com Filtro</button>
        </div>
      </div>
    </div>



    <div class="row mt-3 mb-3">
      <div class="form-floating col-sm-2 col-12 mb-2">
        <select name="mes" id="mes" class="form-select text-capitalize" [(ngModel)]="filtro_mes" #mes (change)="(getEventoByMes(mes.value))">
          <option *ngFor=" let month of lista_mes" [value]=month> {{month}} </option>
        </select>
        <label class="form-label pergunta ms-3" for="cargo">Mês</label>
      </div>

      <div class="form-floating col-sm-1 col-12 mb-2">
        <select name="ano" id="ano" class="form-select" [(ngModel)]="filtro_ano" #ano (change)="(getEventoByAno(ano.value))">
          <option *ngFor=" let year of lista_ano" [value]=year> {{year}} </option>
        </select>
        <label class="form-label pergunta ms-3" for="cargo">Ano</label>
      </div>

      <div class="form-floating col-sm-2 col-12 mb-2">
        <select name="tipo_local_id" id="tipo_local_id" class="form-select" [(ngModel)]="filtro_tp_evt" #tipo_evento_id (change)="(getEventoByLocal(tipo_evento_id.value))">
          <option *ngFor=" let evento of lista_tipo_evento" [value]=evento.id> {{ evento.nome_evento }} </option>
        </select>
        <label class="form-label pergunta ms-3" for="cargo">Tipo Evento</label>
      </div>

      <div class="form-floating col-sm-2 col-12 mb-2">
        <select name="tipo_local_id" id="tipo_local_id" class="form-select" [(ngModel)]="filtro_tp_lc" #tipo_local_id (change)="(getEventoByLocal(tipo_local_id.value))">
          <option *ngFor=" let local of lista_local" [value]=local.id> {{ local.local_evento }} </option>
        </select>
        <label class="form-label pergunta ms-3" for="cargo">Tipo Local</label>
      </div>

      <div class="form-floating col-sm-2 col-12 mb-2">
        <select name="recursos_id" id="recursos_id" class="form-select" [(ngModel)]="filtro_fonte" #recursos_id (change)="(getEventoByFonte(recursos_id.value))">
          <option *ngFor=" let recursos of lista_recursos" [value]=recursos.id> {{ recursos.recursos }} </option>
        </select>
        <label class="form-label pergunta ms-3" for="cargo">Fonte Recursos</label>
      </div>

      <div class="col-sm-2 col-12 mb-2">
      <div class="filter-nav d-flex flex-center">
        <button class="mx-3 mt-1 pt-1 pb-1 btn btn-primary text-uppercase fw-bold" (click)="filtrarEventos()">Filtrar Eventos</button>
      </div>
    </div>
    </div>


    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="align-middle text-center">Nome Evento</th>
          <th scope="col" class="align-middle text-center">Responsável</th>
          <th scope="col" class="align-middle text-center">Mês</th>
          <th scope="col" class="align-middle text-center">Ano</th>
          <th scope="col" class="align-middle text-center">Tipo Evento</th>
          <th scope="col" class="align-middle text-center">Local</th>
          <th scope="col" class="align-middle text-center">Custo Prévio</th>
          <th scope="col" class="align-middle text-center">Fonte recursos</th>
          <th scope="col" class="align-middle text-center">Leads Previous</th>
        </tr>
      </thead>
      <tbody *ngIf="!filter">
        <tr *ngFor="let evento of lista_evento | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td class="align-middle">{{ evento.nome_evento }}</td>
          <td class="align-middle">{{ evento.ass_evento_sexec.secretaria }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.mes }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.ano }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.ass_evento_tipo.nome_evento }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.local }}</td>
          <td class="align-middle text-center text-capitalize">R$ {{ evento.custo_previo }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.ass_evento_recursos.recursos }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.lead_previsto }}</td>
          <td *ngIf="profile_id === 3 || (profile_id === 2 && id_sexec === evento.sexec_id)" class="align-middle"><button (click)="onEdit(evento)" type="button" class="btn btn-warning mx-3" data-bs-toggle="modal" data-bs-target="#modalEdit"><i class="bi bi-pencil-square"></i></button></td>
          <td *ngIf="profile_id === 3 || (profile_id === 2 && id_sexec === evento.sexec_id)" class="align-middle"><button (click)="deletaEvento(evento)" type="button" class="btn btn-danger mx-3"><i class="bi bi-trash-fill"></i></button></td>
        </tr>
      </tbody>

      <tbody *ngIf="filter">
        <tr *ngFor="let evento of eventosFiltrados | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td class="align-middle">{{ evento.nome_evento }}</td>
          <td class="align-middle">{{ evento.ass_evento_sexec.secretaria }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.mes }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.ano }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.ass_evento_tipo.nome_evento }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.local }}</td>
          <td class="align-middle text-center text-capitalize">R$ {{ evento.custo_previo }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.ass_evento_recursos.recursos }}</td>
          <td class="align-middle text-center text-capitalize">{{ evento.lead_previsto }}</td>
          <td *ngIf="profile_id === 3 || (profile_id === 2 && id_sexec === evento.sexec_id)" class="align-middle"><button (click)="onEdit(evento)" type="button" class="btn btn-warning mx-3" data-bs-toggle="modal" data-bs-target="#modalEdit"><i class="bi bi-pencil-square"></i></button></td>
          <td *ngIf="profile_id === 3 || (profile_id === 2 && id_sexec === evento.sexec_id)" class="align-middle"><button (click)="deletaEvento(evento)" type="button" class="btn btn-danger mx-3"><i class="bi bi-trash-fill"></i></button></td>
        </tr>
      </tbody>

    </table>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
  </div>

</section>

<!-- Modal Editar-->
 <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditLabel">Editar Evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "formEvent">
          <div class="row">

            <div class="form-floating col-sm-2 col-12 mb-2">
              <select name="mes" id="mes" class="form-select text-capitalize" formControlName="mes" required>
                <option *ngFor=" let month of lista_mes" [value]=month> {{month}} </option>
              </select>
              <label class="form-label pergunta ms-3" for="mes">Mês do Evento</label>
            </div>

            <div class="form-floating col-sm-2 col-12 mb-2">
              <select name="ano" id="ano" class="form-select" formControlName="ano" required>
                <option *ngFor=" let year of lista_ano" [value]=year> {{year}} </option>
              </select>
              <label class="form-label pergunta ms-3" for="ano">Ano do Evento</label>
            </div>

            <div class="form-floating col-sm-2 col-12 mb-2">
              <select name="tipo_evento_id" id="tipo_evento_id" class="form-select" formControlName="tipo_evento_id" required>
                <option *ngFor=" let evento of lista_tipo_evento" [value]=evento.id> {{ evento.nome_evento }} </option>
              </select>
              <label class="form-label pergunta ms-3" for="cargo">Tipo de Evento</label>
            </div>

            <div class="form-floating col-sm-6 col-12 mb-2">
              <select name="sexec_id" id="sexec_id" class="form-select" formControlName="sexec_id" required>
                <option *ngFor=" let sexec of lista_sexec" [value]=sexec.id> {{ sexec.secretaria }} / {{ sexec.sigla }} </option>
              </select>
              <label class="form-label pergunta ms-3" for="cargo">Responável</label>
              <!--<div *ngIf="!cargo.valid && cargo.touched" class="alert alert-danger" role="alert">Informe o Cargo</div>-->
            </div>
          </div>

          <div class="row mt-4 mb-4">

            <div class="form-group col-sm-6 col-12 ">
              <div class="form-floating">
                <input type="text" id="nome_evento" name="nome_evento"
                  placeholder="Digite o nome do Evento" required formControlName="nome_evento" class="form-control" />
                <label class="form-label pergunta" for="nome_evento">Nome Evento</label>
              </div>
            </div>

            <div class="form-floating col-sm-2 col-12 mb-2">
              <select name="tipo_local_id" id="tipo_local_id" class="form-select" formControlName="tipo_local_id" required>
                <option *ngFor=" let local of lista_local" [value]=local.id> {{ local.local_evento }} </option>
              </select>
              <label class="form-label pergunta ms-3" for="cargo">Tipo Local</label>
            </div>

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="local" name="local"
                  placeholder="Digite o nome do Evento" required formControlName="local" class="form-control" />
                <label class="form-label pergunta" for="local">Local do Evento</label>
              </div>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="form-group col-sm-12 col-12">
              <div class="form-floating">
                <textarea class="form-control" id="descricao" [maxLength]="maxChars" rows="5"  name="descricao" placeholder="Informe a descrição do evento" style="height: 100px" required minlength="3" formControlName="descricao" class="form-control"></textarea>
                <label class="form-label pergunta" for="descricao">Descrição</label>
                <!-- <div class="limite_caractere alert alert-warning mt-1">Caracteres digitados: <strong>{{ evento.descricao?.length }} / {{ maxChars }}</strong></div>
                <div *ngIf="!descricao.valid &&  descricao.touched" class="alert alert-danger" role="alert">
                  Descrição é obrigatório
                </div> -->
              </div>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="publico_alvo" name="publico_alvo"
                  placeholder="Digite o nome do Evento" formControlName='publico_alvo' class="form-control" />
                <label class="form-label pergunta" for="publico_alvo">Público alvo</label>
                <!-- <div *ngIf="!publico_alvo.valid && publico_alvo.touched" class="alert alert-danger" role="alert">Informe o público alvo</div> -->
              </div>
            </div>

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="periodo" name="periodo"
                  placeholder="Digite o nome do Evento" required formControlName='periodo' class="form-control" />
                <label class="form-label pergunta" for="periodo">Periodo</label>
                <!-- <div *ngIf="!periodo.valid && periodo.touched" class="alert alert-danger" role="alert">Informe o periodo</div> -->
              </div>
            </div>

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="custo_previo" name="custo_previo"
                  placeholder="Digite o nome do Evento" required formControlName='custo_previo' class="form-control" />
                <label class="form-label pergunta" for="custo_previo">Custo Prévio</label>
                <!-- <div *ngIf="!custo_previo.valid && custo_previo.touched" class="alert alert-danger" role="alert">Informe o custo prévio</div> -->
              </div>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="form-floating col-sm-4 col-12 mb-2">
              <select name="recursos_id" id="recursos_id" class="form-select" formControlName='recursos_id' required>
                <option *ngFor=" let recursos of lista_recursos" [value]=recursos.id> {{ recursos.recursos }} </option>
              </select>
              <label class="form-label pergunta ms-3" for="cargo">Fonte Recursos</label>
            </div>

            <div class="form-floating col-sm-4 col-12 mb-2">
              <select name="participacao_id" id="participacao_id" class="form-select" formControlName='participacao_id' required>
                <option *ngFor=" let participacao of lista_participacao" [value]=participacao.id> {{ participacao.participacao }} </option>
              </select>
              <label class="form-label pergunta ms-3" for="cargo">Tipo Participação</label>
            </div>

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="lead_previsto" name="lead_previsto"
                  placeholder="Digite a previsão de lead" required formControlName='lead_previsto' class="form-control" />
                <label class="form-label pergunta" for="lead_previsto">Leads Previous</label>
                <!-- <div *ngIf="!lead_previsto.valid && lead_previsto.touched" class="alert alert-danger" role="alert">Informe o Leads Previous</div> -->
              </div>
            </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateEvento()" class="btn btn-warning">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Tabela Evento com Acompanhanhamento-->
<div class="modal fade" id="modalTabelaEventoAcompanhamento" tabindex="-1" aria-labelledby="modalTabelaEventoAcompanhamentoLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTabelaEventoAcompanhamentoLabel">Eventos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">

        <div>
          <table class="table table-striped table-hover" id="table-evento-acompanhamento">
          <thead>
            <tr>
              <th scope="col" colspan="14" class="align-middle text-center table-primary text-uppercase">Evento</th>
              <th scope="col" colspan="4" class="align-middle text-center table-info text-uppercase">Acompanhamento</th>
            </tr>
            <tr>
              <th scope="col" class="align-middle text-center">Mês</th>
              <th scope="col" class="align-middle text-center">Ano</th>
              <th scope="col" class="align-middle text-center">Tipo Evento</th>
              <th scope="col" class="align-middle text-center">Responsável</th>
              <th scope="col" class="align-middle text-center">Nome Evento</th>
              <th scope="col" class="align-middle text-center">Descrição</th>
              <th scope="col" class="align-middle text-center">Publico Alvo</th>
              <th scope="col" class="align-middle text-center">Tipo Local</th>
              <th scope="col" class="align-middle text-center">Local</th>
              <th scope="col" class="align-middle text-center">Periodo</th>
              <th scope="col" class="align-middle text-center">Custo Prévio</th>
              <th scope="col" class="align-middle text-center">Fonte recursos</th>
              <th scope="col" class="align-middle text-center">Participação</th>
              <th scope="col" class="align-middle text-center">Leads Previous</th>
              <th scope="col" class="align-middle text-center">Situação Atual</th>
              <th scope="col" class="align-middle text-center">Resultados Alcançados</th>
              <th scope="col" class="align-middle text-center">Custos Realizados</th>
              <th scope="col" class="align-middle text-center">Leads Realizados</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evento_follow of lista_evento_acompanhamento">
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.mes }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.ano }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.ass_evento_tipo.nome_evento }}</td>
              <td class="align-middle">{{ evento_follow.ass_acompanhamento_evento.ass_evento_sexec.secretaria }} - {{ evento_follow.ass_acompanhamento_evento.ass_evento_sexec.sigla }}</td>
              <td class="align-middle">{{ evento_follow.ass_acompanhamento_evento.nome_evento }}</td>
              <td class="align-middle">{{ evento_follow.ass_acompanhamento_evento.descricao }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.publico_alvo }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.ass_evento_local.local_evento }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.local }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.periodo }}</td>
              <td class="align-middle text-center">R$ {{ evento_follow.ass_acompanhamento_evento.custo_previo }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.ass_evento_recursos.recursos }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.ass_evento_participacao.participacao }}</td>
              <td class="align-middle text-center">{{ evento_follow.ass_acompanhamento_evento.lead_previsto }}</td>

              <td class="align-middle text-center">{{ evento_follow.situacao_atual }}</td>
              <td class="align-middle">{{ evento_follow.resultado }}</td>
              <td class="align-middle text-center">R$ {{ evento_follow.custo_realizado }}</td>
              <td class="align-middle text-center">{{ evento_follow.leads_realizado }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="getReport()" class="btn btn-warning">Exportar Planilha</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Tabela Evento-->
<div class="modal fade" id="modalTabelaEvento" tabindex="-1" aria-labelledby="modalTabelaEventoLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTabelaEventoLabel">Eventos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">

        <div>
          <table class="table table-striped table-hover" id="table-evento">
          <thead>
            <tr>
              <th scope="col" colspan="14" class="align-middle text-center table-primary text-uppercase">Evento</th>
            </tr>
            <tr>
              <th scope="col" class="align-middle text-center">Mês</th>
              <th scope="col" class="align-middle text-center">Ano</th>
              <th scope="col" class="align-middle text-center">Tipo Evento</th>
              <th scope="col" class="align-middle text-center">Responsável</th>
              <th scope="col" class="align-middle text-center">Nome Evento</th>
              <th scope="col" class="align-middle text-center">Descrição</th>
              <th scope="col" class="align-middle text-center">Publico Alvo</th>
              <th scope="col" class="align-middle text-center">Tipo Local</th>
              <th scope="col" class="align-middle text-center">Local</th>
              <th scope="col" class="align-middle text-center">Periodo</th>
              <th scope="col" class="align-middle text-center">Custo Prévio</th>
              <th scope="col" class="align-middle text-center">Fonte recursos</th>
              <th scope="col" class="align-middle text-center">Participação</th>
              <th scope="col" class="align-middle text-center">Leads Previous</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evento of lista_evento">
              <td class="align-middle text-center">{{ evento.mes }}</td>
              <td class="align-middle text-center">{{ evento.ano }}</td>
              <td class="align-middle text-center">{{ evento.ass_evento_tipo.nome_evento }}</td>
              <td class="align-middle">{{ evento.ass_evento_sexec.secretaria }} - {{ evento.ass_evento_sexec.sigla }}</td>
              <td class="align-middle">{{ evento.nome_evento }}</td>
              <td class="align-middle">{{ evento.descricao }}</td>
              <td class="align-middle text-center">{{ evento.publico_alvo }}</td>
              <td class="align-middle text-center">{{ evento.ass_evento_local.local_evento }}</td>
              <td class="align-middle text-center">{{ evento.local }}</td>
              <td class="align-middle text-center">{{ evento.periodo }}</td>
              <td class="align-middle text-center">R$ {{ evento.custo_previo }}</td>
              <td class="align-middle text-center">{{ evento.ass_evento_recursos.recursos }}</td>
              <td class="align-middle text-center">{{ evento.ass_evento_participacao.participacao }}</td>
              <td class="align-middle text-center">{{ evento.lead_previsto }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="getReportEvent()" class="btn btn-warning">Exportar Planilha</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Tabela Evento com Filtro-->
<div class="modal fade" id="modalEventoFiltro" tabindex="-1" aria-labelledby="modalEventoFiltroLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEventoFiltroLabel">Eventos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">

        <div>
          <table class="table table-striped table-hover" id="table-evento-filtro">
          <thead>
            <tr>
              <th scope="col" colspan="14" class="align-middle text-center table-primary text-uppercase">Evento</th>
            </tr>
            <tr>
              <th scope="col" class="align-middle text-center">Mês</th>
              <th scope="col" class="align-middle text-center">Ano</th>
              <th scope="col" class="align-middle text-center">Tipo Evento</th>
              <th scope="col" class="align-middle text-center">Responsável</th>
              <th scope="col" class="align-middle text-center">Nome Evento</th>
              <th scope="col" class="align-middle text-center">Descrição</th>
              <th scope="col" class="align-middle text-center">Publico Alvo</th>
              <th scope="col" class="align-middle text-center">Tipo Local</th>
              <th scope="col" class="align-middle text-center">Local</th>
              <th scope="col" class="align-middle text-center">Periodo</th>
              <th scope="col" class="align-middle text-center">Custo Prévio</th>
              <th scope="col" class="align-middle text-center">Fonte recursos</th>
              <th scope="col" class="align-middle text-center">Participação</th>
              <th scope="col" class="align-middle text-center">Leads Previous</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evento of eventosFiltrados">
              <td class="align-middle text-center">{{ evento.mes }}</td>
              <td class="align-middle text-center">{{ evento.ano }}</td>
              <td class="align-middle text-center">{{ evento.nome_evento }}</td>
              <td class="align-middle">{{ evento.ass_evento_sexec.secretaria }} - {{ evento.ass_evento_sexec.sigla }}</td>
              <td class="align-middle">{{ evento.nome_evento }}</td>
              <td class="align-middle">{{ evento.descricao }}</td>
              <td class="align-middle text-center">{{ evento.publico_alvo }}</td>
              <td class="align-middle text-center">{{ evento.ass_evento_local.local_evento }}</td>
              <td class="align-middle text-center">{{ evento.local }}</td>
              <td class="align-middle text-center">{{ evento.periodo }}</td>
              <td class="align-middle text-center">R$ {{ evento.custo_previo }}</td>
              <td class="align-middle text-center">{{ evento.ass_evento_recursos.recursos }}</td>
              <td class="align-middle text-center">{{ evento.ass_evento_participacao.participacao }}</td>
              <td class="align-middle text-center">{{ evento.lead_previsto }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="getReportFilter()" class="btn btn-warning">Exportar Planilha</button>
      </div>
    </div>
  </div>
</div>

